@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
    font-family: 'recursive';
    display: flex;
    justify-content: center;
}

ion-icon {
    font-size: 23px;
}

.pageLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    height: 667px;
}

.pageLogin img {
    width: 136px;
    height: 161px;
}

h1 {
    font-family: 'Righteous';
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.btnStart {
    width: 246px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #d70900;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    color: #d70900;
    cursor: pointer;
}

li {
    width: 300px;
    height: 65px;
    background-color: #ffffff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 25px;
}

header {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

main {
    margin-top: 50px;
}

.quests {
    margin-bottom: 90px;
}

.resposta,
.pergunta {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    position: relative;
}

.pergunta img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 30px;
    cursor: pointer;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    width: 85px;
    height: 37px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
}

button.naoLembrei {
    background-color: #FF3030;
}

.naoLembrei p {
    color: red;
    text-decoration: line-through;
}

ion-icon[name="close-circle"] {
    color: red;
    font-size: 30px;
}

button.quaseNao {
    background-color: #FF922E;
}

.quaseNao p {
    color: #FF922E;
    text-decoration: line-through;
}

ion-icon[name="help-circle"] {
    color: #FF922E;
    font-size: 30px;
}

button.zap {
    background-color: #2FBE34;
}

.zap p {
    color: #2FBE34;
}

ion-icon[name="checkmark-circle"] {
    color: #2FBE34;
    font-size: 30px;
}

.footer {
    width: 100%;
    height: auto;
    min-height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    flex-direction: column;

}

.footer h2 {
    font-weight: 700;
}